@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --font-signature: var(--font-signature);
}